.odd-elements {
    background-color:rgb(255, 152, 152);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#number2{
    color:rgb(84, 84, 223);
    font-size:36px;
}
.extra{
    font-size:24px;
}
#number4{
    background-color:rgb(142, 199, 142);
    font-size:24px;
    font-weight:bold;
}